<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suntown.scannerproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon">
        <activity android:name=".act.WelcomeActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".act.ChooseShopActivity" />
        <activity
            android:name=".act.ScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".change.ChangeTAGAct"
            android:theme="@style/AppTheme" />
        <activity android:name=".act.NewProductsAct" />
        <activity android:name=".act.DisplayDActivity" />
        <activity android:name=".query.GoodsDetialActivity" />
        <activity
            android:name=".input.InputAndOutputActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"  />
        <activity android:name=".query.QueryActivity" />
        <activity android:name=".act.LoginActivity" />
        <activity android:name=".act.SettingPortAct" />
        <activity android:name=".scanner.HasGoodsShelfActivity"/>
        <activity android:name=".scanner.NoGoodsShelfActivity" />
        <activity
            android:name=".input.InputCheckActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".input.OutputCheckActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".query.HistortyActivity" />
        <activity android:name=".query.HistoryDetialActivity" />
        <activity
            android:name=".base.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>